*{
    margin: 0;
    padding: 0;
    
}
.progress-container{
    position: fixed;
    top:0;
    width:100%;
    height: 15px;
    background: #ccc;

}
.progress-bar{
    height: 100%;
    background: rgb(6, 155, 255);
    width: 0%;
    scroll-behavior: smooth;
}